<div id="table" style="padding:50px;min-height:100vh;" (click)="setUserindex_modify2()">
    <div id="btns" style="padding-left:24px;padding-bottom:5px;">
        <button type="button" class="btn btn-warning me-2" data-bs-toggle="modal" data-bs-target="#exampleModal1" (click)="setUserindex_modify($event,null)">+/- Colonne</button>
        <button type="button" class="btn btn-primary" (click)="insertOneUser($event)">Insérer</button>

    </div>
    <div id="content">
        <div id="twosvgs">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" (click)="changePosition($event,1)"><path fill-rule="evenodd" d="M6.47 10.78a.75.75 0 010-1.06l5.25-5.25a.75.75 0 011.06 0l5.25 5.25a.75.75 0 11-1.06 1.06L13 6.81v12.44a.75.75 0 01-1.5 0V6.81l-3.97 3.97a.75.75 0 01-1.06 0z"></path></svg>
            </div>
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" (click)="changePosition($event,0)"><path fill-rule="evenodd" d="M4.97 13.22a.75.75 0 000 1.06l6.25 6.25a.75.75 0 001.06 0l6.25-6.25a.75.75 0 10-1.06-1.06l-4.97 4.97V3.75a.75.75 0 00-1.5 0v14.44l-4.97-4.97a.75.75 0 00-1.06 0z"></path></svg>
            </div>
        </div>
        <div cdkDropList cdkDropListOrientation="horizontal" class="example-list" (cdkDropListDropped)="drop($event)">
            <div *ngFor="let elm of tab1" class="example-box"  cdkDrag>
                <div style="border-bottom:2px solid black;padding:5px;" class="bg-dark text-white">{{elm}}</div>
                <div *ngFor="let user of users;let key = index"  style="border-bottom:1px solid gray;padding:5px;"(mouseenter)="hoverOneUser(key)" (mouseleave)="hoverOneUser(null)" [ngClass]="{'bg-info':userindex_hover==key || userindex==key}">
                    <div (click)="setUserindex_modify($event,key)" style="min-height:30px;" [ngClass]="{'d-none':userindex_modify==key}">
                        {{user[elm]}}
                    </div>
                    <div *ngIf="userindex_modify==key">
                        <input type="text" name="{{elm}}" [(ngModel)]="users[key][elm]" style="width:100%" (click)="stopPropagation($event)">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="exampleModal1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Les colonnes</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div id="content">
            <div>
                <div class="text-center">Cachées</div>
                <div class="onerow" *ngFor="let elm of tab2;let key = index;" (click)="chooseOneElementOfTabs($event,2,key)"  [ngClass]="{'active':key==tab2index}">
                    {{elm}}
                </div>
            </div>
            <div>
                <div (click)="displayTab1($event,2)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M10.78 19.03a.75.75 0 01-1.06 0l-6.25-6.25a.75.75 0 010-1.06l6.25-6.25a.75.75 0 111.06 1.06L5.81 11.5h14.44a.75.75 0 010 1.5H5.81l4.97 4.97a.75.75 0 010 1.06z"></path></svg>
                </div>
                <div (click)="displayTab1($event,1)">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path fill-rule="evenodd" d="M13.22 19.03a.75.75 0 001.06 0l6.25-6.25a.75.75 0 000-1.06l-6.25-6.25a.75.75 0 10-1.06 1.06l4.97 4.97H3.75a.75.75 0 000 1.5h14.44l-4.97 4.97a.75.75 0 000 1.06z"></path></svg>
                </div>
            </div>
            <div>
                <div class="text-center">Affichées</div>
                <div id="rwosdiplayed">
                    <div>
                        <div class="onerow" *ngFor="let elm of tab1;let key = index;" (click)="chooseOneElementOfTabs($event,1,key)" [ngClass]="{'active':key==tab1index}">
                            {{elm}}
                        </div>
                    </div>
                    <div>
                        <div (click)="changePosition2($event,1)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" ><path fill-rule="evenodd" d="M6.47 10.78a.75.75 0 010-1.06l5.25-5.25a.75.75 0 011.06 0l5.25 5.25a.75.75 0 11-1.06 1.06L13 6.81v12.44a.75.75 0 01-1.5 0V6.81l-3.97 3.97a.75.75 0 01-1.06 0z"></path></svg>
                        </div>
                        <div (click)="changePosition2($event,0)">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24" ><path fill-rule="evenodd" d="M4.97 13.22a.75.75 0 000 1.06l6.25 6.25a.75.75 0 001.06 0l6.25-6.25a.75.75 0 10-1.06-1.06l-4.97 4.97V3.75a.75.75 0 00-1.5 0v14.44l-4.97-4.97a.75.75 0 00-1.06 0z"></path></svg>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        </div>
      </div>
    </div>
  </div>
